{% extends 'todolist/base.html' %}

{% load static %}

{% block title %}
View Figures
{% endblock %}

{% block content %}

<div class="container">
  <div
      class="slide"
      style="background-image: url('/static/images/galery/IMG_20221103_130036__01__01 море корабли пляж и жара.png');"
  >
    <h3>Пляж и жара</h3>
  </div>
  <div
      class="slide active"
      style="
          background-image: url('/static/images/galery/IMG_20221103_132926 Желтые цветы.png');
        "
  >
    <h3>Желтые цветы</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('/static/images/galery/IMG_20221114_150801 дерево у храма Саваннокет.png');
        "
  >
    <h3>Храм саваннокет</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('/static/images/galery/IMG_20221117_101047 собака спит на пляже.png');
        "
  >
    <h3>Спящий пёс</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('/static/images/galery/IMG_20221227_160602 змеиная кожа.png');
        "
  >
    <h3>Змеиная кожа</h3>
  </div>
</div>

<script src="{% static 'js/slides_stile.js' %}"></script>
{% endblock %}