{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="full_home_greetings_field">
        <div class="fake_home_greetings_field"></div>
        <div class="home_greetings_field">
            <span class="main_home_span">
                Welcome to <span class="bold">PyScientist’s Lair</span> resource!
                <br><br>
                Here you can fide information about me, my programming experience, hobbies, etc.
                <br><br>
                You also can find out here the information concerning programming.
                <br><br>
                This resource can be used to create you own to <span class="bold">do lists</span> and <span class="bold">vocabulary!</span>
                <br><br>
                Hope you find the information here interesting to You.
                <br><br>
                <span class="logging_attention_message">
                    To get all advantages of this place you need to
                    <a class="right" href="/login">login</a>!
                </span>
            </span>
        </div>
    </div>
{% endblock %}