{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="full_home_upper_field">
        <div class="fake_home_upper_field"></div>
        <div class="home_upper_field">upper field</div>
    </div>
    <div class="home_items_row">
        <div class="full_home_item_cell">
            <div class="fake_home_item_cell"></div>
            <div class="home_item_cell"><span>Cell 1_1</span></div>
        </div>
        <div class="full_home_item_cell">
            <div class="fake_home_item_cell"></div>
            <div class="home_item_cell"><span>Cell 1_2</span></div>
        </div>
    </div>
    <div class="home_items_row">
        <div class="full_home_item_cell">
            <div class="fake_home_item_cell"></div>
            <div class="home_item_cell"><span>Cell 2_1</span></div>
        </div>
        <div class="full_home_item_cell">
            <div class="fake_home_item_cell"></div>
            <div class="home_item_cell"><span>Cell 2_2</span></div>
        </div>
    </div>


{% endblock %}