{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="full_home_greatings_field">
        <div class="fake_home_greatings_field"></div>
        <div class="home_greatings_field">
            <span>
                Welcome to <span class="bold">PyScientist’s Lair</span> resource!
                <br><br>
                Here you can fide information about me, my programming experience, hobbies, etc.
                <br><br>
                You also can find out here the information concerning programming.
                <br><br>
                This resource can be used to create you own to <span class="bold">do lists</span> and <span class="bold">vocabulary!</span>
                <br><br>
                Hope you find the information here interesting to You.
            <span>
        </div>
    </div>
{% endblock %}