{% extends 'main/base.html' %}

{% block title %}
To Do lists
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="full_todolist_field">
        <div class="fake_todolist_field"></div>
                <form method="post", action="#" class="todolist_field_form">
                    {% csrf_token %}
                    <div class="liststodo_body">
                        <p> For user
                            <span  class = 'view_show_lists'>{{ response.user }}</span> found
                            <span  class = 'view_show_lists'>{{ todolist|length }}</span> ToDoLists
                        </p>
                        <div class="checkboxes_todolist">
                            {% for td in todolist %}
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox"
                                        style="width: 20px;
                                               height: 20px;"
                                        value="clicked"
                                        name="td_list{{td.id}}"
                                        id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p>
                                                <a href="to_do_list_{{td.id}}">
                                                {{td.name}}
                                                </a>
                                            </p>
                                        </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="todolisttools">
                        <div class="create_tool">
                            <div class="input-group input-group-lg">
                                <button type="submit",
                                        name="create"
                                        value="create",
                                        style="background-color: #26B523;
                                               padding: 0px;
                                               height: 40px;
                                               width: 120px;
                                               color: white;
                                               margin-right: 10px;
                                               font-size: 25px;
                                               border-radius: 15px;",
                                        class="btn btn-success">
                                        Create
                                </button>
                                {{form.name}}
                            </div>
                        </div>
                        <div class="delete_tool">
                            <div class="delete_button">
                                <button type="submit",
                                        name="delete",
                                        value="delete",
                                        style="background-color: #FB1C1C;
                                               padding: 0px;
                                               height: 40px;
                                               width: 120px;
                                               color: white;
                                               font-size: 25px;
                                               border-radius: 15px;",
                                        class="btn btn-success">
                                        Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}