.full_home_greatings_field {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-flow: column;
}

.fake_home_greatings_field {
    height: 584px;
    width: 100%;
    background-color: #D9D9D9;
    opacity: .4;
    border-radius: 35px;
}

.home_greatings_field {
    margin-top: -584px;
    height: 584px;
    width: 100%;
    opacity: 0.99;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_greatings_field span  {
    color: black;
    font-size: 26px;
    font-family: inter;
}

.home_greatings_field span.bold  {
    font-weight: bold;
    font-size: 30px;
}